In [8]:
import numpy as np
import pandas as pd
from linearmodels import PanelOLS
from linearmodels import RandomEffects
import statsmodels as sm

In [2]:
from linearmodels.datasets import jobtraining

In [15]:
from statsmodels.datasets import grunfeld
data = grunfeld.load_pandas().data
data = data.set_index(["firm","year"])
print(data.head())

                       invest   value  capital
firm           year
General Motors 1935.0   317.6  3078.5      2.8
               1936.0   391.8  4661.7     52.6
               1937.0   410.6  5387.1    156.9
               1938.0   257.7  2792.2    209.2
               1939.0   330.8  4313.2    203.4

In [16]:
data

                        invest     value  capital
firm           year
General Motors 1935.0  317.600  3078.500    2.800
               1936.0  391.800  4661.700   52.600
               1937.0  410.600  5387.100  156.900
               1938.0  257.700  2792.200  209.200
               1939.0  330.800  4313.200  203.400
...                        ...       ...      ...
American Steel 1950.0    4.770    36.494   75.847
               1951.0    6.532    46.082   77.367
               1952.0    7.329    57.616   78.631
               1953.0    9.020    57.441   80.215
               1954.0    6.281    47.165   83.788

[220 rows x 3 columns]

In [18]:
from linearmodels.panel import PanelOLS
import statsmodels.api as sm
exog = sm.add_constant(data[['value','capital']])
grunfeld_fe = PanelOLS(data['invest'], exog, entity_effects=True, time_effects=True)
grunfeld_fe = grunfeld_fe.fit()
print(grunfeld_fe)

                          PanelOLS Estimation Summary
================================================================================
Dep. Variable:                 invest   R-squared:                        0.7667
Estimator:                   PanelOLS   R-squared (Between):              0.8193
No. Observations:                 220   R-squared (Within):               0.7667
Date:                Wed, Mar 03 2021   R-squared (Overall):              0.8071
Time:                        18:26:01   Log-likelihood                   -1167.4
Cov. Estimator:            Unadjusted
                                        F-statistic:                      340.08
Entities:                          11   P-value                           0.0000
Avg Obs:                       20.000   Distribution:                   F(2,207)
Min Obs:                       20.000
Max Obs:                       20.000   F-statistic (robust):             340.08
                                        P-value                           0.0000
Time periods:                      20   Distribution:                   F(2,207)
Avg Obs:                       11.000
Min Obs:                       11.000
Max Obs:                       11.000

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
const         -55.272     10.891    -5.0750     0.0000     -76.743     -33.800
value          0.1101     0.0113     9.7461     0.0000      0.0879      0.1324
capital        0.3100     0.0165     18.744     0.0000      0.2774      0.3426
==============================================================================

F-test for Poolability: 49.207
P-value: 0.0000
Distribution: F(10,207)

Included effects: Entity

In [4]:
jobtraining

In [6]:
data = jobtraining.load()
year = pd.Categorical(data.year)
data = data.set_index(["fcode", "year"])
data["year"] = year

In [10]:
data

             employ       sales   avgsal  scrap  rework  tothrs  union  grant  \
fcode  year
410032 1987   100.0  47000000.0  35000.0    NaN     NaN    12.0      0      0
       1988   131.0  43000000.0  37000.0    NaN     NaN     8.0      0      0
       1989   123.0  49000000.0  39000.0    NaN     NaN     8.0      0      0
410440 1987    12.0   1560000.0  10500.0    NaN     NaN    12.0      0      0
       1988    13.0   1970000.0  11000.0    NaN     NaN    12.0      0      0
...             ...         ...      ...    ...     ...     ...    ...    ...
419483 1988   108.0  11500000.0  14810.0   25.0     NaN     0.0      1      0
       1989   129.0  12000000.0  14227.0   30.0     NaN    20.0      1      0
419486 1987    80.0   7000000.0  16000.0    NaN     NaN     0.0      0      0
       1988    90.0   8500000.0  17000.0    NaN     NaN     0.0      0      0
       1989   100.0   9900000.0  18000.0    NaN     NaN    40.0      0      1

             d89  d88  ...   clscrap  cgrant  clemploy   clsales    lavgsal  \
fcode  year            ...
410032 1987    0    0  ...       NaN       0       NaN       NaN  10.463100
       1988    0    1  ...       NaN       0  0.270027 -0.088949  10.518670
       1989    1    0  ...       NaN       0 -0.063013  0.130621  10.571320
410440 1987    0    0  ...       NaN       0       NaN       NaN   9.259130
       1988    0    1  ...       NaN       0  0.080043  0.233347   9.305651
...          ...  ...  ...       ...     ...       ...       ...        ...
419483 1988    0    1  ...  0.223144       0 -0.208218  0.044453   9.603058
       1989    1    0  ...  0.182321       0  0.177681  0.042559   9.562897
419486 1987    0    0  ...       NaN       0       NaN       NaN   9.680344
       1988    0    1  ...       NaN       0  0.117783  0.194157   9.740969
       1989    1    0  ...       NaN       1  0.105360  0.152469   9.798127

             clavgsal  cgrant_1    chrsemp  clhrsemp  year
fcode  year
410032 1987       NaN       NaN        NaN       NaN  1987
       1988  0.055570       0.0  -8.946565 -1.165385  1988
       1989  0.052644       0.0   0.198597  0.047832  1989
410440 1987       NaN       NaN        NaN       NaN  1987
       1988  0.046520       0.0   0.000000  0.000000  1988
...               ...       ...        ...       ...   ...
419483 1988  0.059321       0.0   0.000000  0.000000  1988
       1989 -0.040161       0.0   3.100775  1.411176  1989
419486 1987       NaN       NaN        NaN       NaN  1987
       1988  0.060625       0.0   0.000000  0.000000  1988
       1989  0.057159       0.0  36.000000  3.610918  1989

[471 rows x 29 columns]

In [9]:
exog_vars = 
exog = sm.add_constant(data[exog_vars])
mod = RandomEffects(data.clscrap, exog)
re_res = mod.fit()
print(re_res)

AttributeError: module 'statsmodels' has no attribute 'add_constant'

In [12]:
import statsmodels.api as sm  clscrap ~ 1 + grant + employ + C(fcode)

In [14]:
data["year"] = pd.Categorical(data.year)
Y = duncan_prestige.data['clscrap']
X = duncan_prestige.data['education']
X = sm.add_constant(X)
FE_ols = sm.OLS().fit()
print(FE_ols.summary())

TypeError: __init__() missing 1 required positional argument: 'endog'